/* .left-image-bg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .forgot-text {
    float: right;
    margin-bottom: 10px;
}
.login-form button {
    width: 100%;
    border: 0px;
    background-color: #45728B;
    padding: 15px 5px;
} */