
:root {
    --black: #000;
    --white: #fff;
    --blue: #3636e2;
    --lightPink: #F9F9FC;
    --red: #F2451C;
    --lightGrey: #F8F8F8;
    --firstClr: #101828;
    --secondClr: #828282;
    --pinkClr: #957dad;
    --shadowPink: #E6D1F2;
    --grey: #939393;
    --violet: #957DAD;
  }



body{
    overflow-x: hidden;
}

input.form-control {
    padding: 12px;
    background: var(--lightGrey);
    border: 0px;
    border-radius: .5rem;
}

input.form-control:focus {
    background: var(--lightGrey);
    box-shadow: none;
}